:root {
	--rojo: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--naranja: hsl(34, 97%, 64%);
	--azul: hsl(212, 86%, 64%);
	--azul1: hsl(234, 12%, 34%);
	--gris: hsl(0, 0%, 98%);
	--gris2: hsl(229, 6%, 66%);
}

html {
	font-size: 62.5%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1.5rem;
   font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}


/*** Utilities ***/
.container {
	max-width: 31rem; /*90%*/
	margin: 0 auto;
}

@media (min-width: 425px) {
	.container {
		max-width: 45rem;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 110rem;
		margin: 0 auto;
	}
}



/* ****** Styles | Mobile First ******** */

/* intro section */
.intro {
	display: flex;
	flex-direction: column;
	margin-top: 9rem;
	text-align: center;
}

.intro__title {
	align-self: center;
	max-width: 28rem;
	font-weight: 200;
	color: var(--azul1);
}

.intro__bold {
	font-weight: 600;
	color: var(--azul1);
}

.intro__info {
	margin-top: 2rem;
	color: var(--gris2);
}

@media (min-width: 1024px) {
	.intro__title {
		max-width: 47rem;
		font-size: 3.8rem; 
	}

	.intro__info {
		max-width: 50rem;
   	align-self: center;
	}
}


/* main section */

/* Media querie Grid Desktop */
@media (min-width: 1024px) {
	.main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 3rem;
		margin-bottom: -4rem; /*for footer*/
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 31rem;
	height: 22rem;
	margin-bottom: 2rem;
	padding: 3rem;
	border-radius: .5rem;
	box-shadow: 0px 10px 14px 5px rgb(225, 227, 234);
}

/* cards individually */
.card:nth-child(1) {
	margin-top: 7rem;
	border-top: var(--cyan) .4rem solid;
}

.card:nth-child(2) {
	border-top: var(--rojo) .4rem solid;
}

.card:nth-child(3) {
	border-top: var(--naranja) .4rem solid;
}

.card:nth-child(4) {
	margin-bottom: 7rem;
	border-top: var(--azul) .4rem solid;
}

/* Media Queries */
@media (min-width: 1024px) {
	.card:nth-child(1) {
		transform: translateY(12rem);
	}
	
	.card:nth-child(2) {
		transform: translateY(9rem);
	}
	
	.card:nth-child(3) {
		grid-column: 2 /3;
	}
	
	.card:nth-child(4) {
		grid-column: 3 / 4;
		transform: translateY(-15rem);

	}
}


/* cards styles */
.main__card-title {
	font-size: 2rem;
	font-weight: 600;
	color: var(--azul1);
}

.main__card-info {
	font-size: 1.3rem;
	color: var(--gris2);
}

.main__img-container {
	align-self: flex-end;
	width: 5rem;
}


/* Footer */
.attribution {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.3rem;
}